.images{
    width: 350px;
    height: 320px;
}

.divs{
    display: grid;
    grid-auto-columns: auto;
    padding: 10px;
}

.divs p{
    text-align: center;
}

.container{
    display: flex;
    /* padding: 20px; */
    max-width: 500px;
}


.container2{
    align-items: center;
    width: auto;

    width: auto;

}

.box1-content > h4 p{
    display: flex;
    flex-direction: column;
}


.logo{
    width: 70px;
    height: 70px;
}

.box1-content{
    display: flex;
}

.box2-content{
    display: flex;
}


.box1{
    display: flex;
}


.box2{
    display: flex;
}